<div class="contents">
  <p class="alert-info"><%= notice %></p>
  <p class="alert-danger"><%= danger %></p>
  <%= form_with(scope: :session, url: sessions_path) do |f| %>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= f.label :email %>
      </div>
      <div>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :password %>
      </div>
      <div>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit "ログイン", class:'btn btn-default' %>
      </div>
      <div>
        アカウントをお持ちでないですか？<%= link_to "登録する", new_user_path %>
      </div>
    </div>
  </div>
  <% end %>
</div>
