<div class="contents">
  <% if @user.errors.any? %>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div id="error_explanation">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <%= form_with(model: @user, local: true) do |form| %>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.label :name %>
      </div>
      <div>
        <%= form.text_field :name %>
      </div>
    </div>
  </div>
  <div class="field row">
    <div>
      <%= form.label :image, class:'col-xs-4'  %>
    </div>
    <div>
      <%= form.file_field :image, id: :feed_image %>
      <%= form.hidden_field :image_cache %>
    </div>
  </div>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.label :sex  %>
      </div>
      <div>
        <%= form.radio_button :sex, :male %> 男性
        <%= form.radio_button :sex, :female %> 女性
      </div>
    </div>
  </div>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.label :age %>
      </div>
      <div>
        <%= form.select :age, User.ages.keys.to_a, {} %>
      </div>
    </div>
  </div>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.label :favorite_rakugoka %>
      </div>
      <div>
        <%= form.text_field :favorite_rakugoka %>
      </div>
    </div>
  </div>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.submit "投稿", class: 'btn btn-default' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
