<div class="contents">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <ul class="row">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <%= form_with(model: @user, local: true) do |f| %>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= f.label :name %>
      </div>
      <div>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :email %>
      </div>
      <div>
        <%= f.email_field :email %>
      </div>
      <div>
        <%= f.label :password %>
      </div>
      <div>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.label :password_confirmation %>
      </div>
      <div>
        <%= f.password_field :password_confirmation %>
      </div>
      <div>
        <%= f.submit "登録する", class: 'btn btn-default' %>
      </div>
      <div>
        アカウントをお持ちですか？<%= link_to "ログインする", new_session_path %>
      </div>
    </div>
  </div>
  <% end %>
</div>
