<%= form_with(model: @neta, local: true, url: choose_new_or_edit) do |form| %>
  <% if @neta.errors.any? %>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div id="error_explanation">
        <ul>
          <% @neta.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <% end %>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.label :neta_name %>
      </div>
      <div>
        <%= form.text_field :neta_name %>
      </div>
    </div>
  </div>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.label :source %>
      </div>
      <div>
        <%= form.text_field :source %>
      </div>
    </div>
  </div>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.label :impression %>
      </div>
      <div>
        <%= form.text_area :impression %>
      </div>
    </div>
  </div>
  <div class="field row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= form.submit "投稿", class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
