<div class="row">
  <div class="alert-text">
    <p class="alert-info"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <div class="user_label">
      <%= link_to image_tag(@neta.user.image), user_path(@neta.user.id) %>
      <%= link_to @neta.user.name, user_path(@neta.user.id) %> さん
    </div>
    <div class="bs-component">
      <div class="panel panel-default">
        <div class="panel-heading">
          演目名
        </div>
        <div class="panel-body">
          <%= @neta.neta_name %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          参考にした噺家
        </div>
        <div class="panel-body">
          <%= @neta.source %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          ネタをやってみての感想
        </div>
        <div class="panel-body">
          <%= simple_format(@neta.impression) %>
        </div>
      </div>
    </div>
    <% if logged_in? %>
      <% if @neta.user == current_user %>
        <%= link_to "編集", edit_neta_path(@neta.id), class:'btn btn-primary', data: { confirm: '本当に編集していいですか？' } %>
        <%= link_to '削除', neta_path(@neta.id), class:'btn btn-danger', method: :delete, data: { confirm: '本当に削除していいですか？' } %>
      <% else %>
        <% if @favorite.present? %>
            <%= link_to 'いいねをはずす', favorite_path(neta_id: @neta.id), method: :delete, class: 'btn btn-danger' %>
        <% else %>
          <%= link_to 'いいね', favorites_path(neta_id: @neta.id), method: :post, class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
