<div class="contents">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div>
        <%= @neta.user.name %> さん
      </div>
      <div>
        <%= @neta.neta_name %>
      </div>
      <div>
        <%= @neta.source %>
      </div>
      <div>
        <%= simple_format(@neta.impression) %>
      </div>
      <% unless @neta.user == current_user %>
        <% if @favorite.present? %>
        <div>
            <%= link_to 'いいねをはずす', favorite_path(neta_id: @neta.id), method: :delete, class: 'btn btn-danger' %>
        </div>
        <% else %>
        <div>
          <%= link_to 'いいね', favorites_path(neta_id: @neta.id), method: :post, class: 'btn btn-primary' %>
        </div>
        <% end %>
      <% end %>
      <div>
        <%= link_to "一覧", netas_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
